@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("normalize.css");
/* line 28, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 35, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 43, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
html, body, .wrap {
  min-height: 100%;
}

/* line 47, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
body {
  color: #f7f7f7;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  background: #582028;
}

/* line 55, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.sidebar {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 760px) {
  /* line 55, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
  .sidebar {
    float: left;
    width: 20%;
  }
}

/* line 64, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.sidebar .my-info {
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #713552;
}

/* line 69, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.sidebar .my-info .portfolio-image {
  border-radius: 50%;
}

/* line 73, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.sidebar .my-info h1, .sidebar .my-info h2 {
  font-weight: normal;
}

/* line 77, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.sidebar .my-info h1 {
  font-size: 120%;
}

/* line 81, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.sidebar .my-info h2 {
  font-size: 100%;
}

/* line 87, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.menus {
  text-align: center;
}

@media screen and (min-width: 760px) {
  /* line 87, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
  .menus {
    padding: 20px 30px;
  }
}

/* line 94, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.menus h3 {
  text-transform: uppercase;
  font-size: 120%;
  font-weight: normal;
  padding-left: 25px;
  cursor: pointer;
  width: 20%;
  margin: 20px 110px 10px;
}

@media screen and (min-width: 360px) {
  /* line 94, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
  .menus h3 {
    margin: 20px auto 20px;
  }
}

@media screen and (min-width: 760px) {
  /* line 94, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
  .menus h3 {
    margin: 20px 0 10px 0;
  }
}

/* line 111, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.menus h3:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 18px;
  display: block;
  background: url(../images/NavSprite.png) no-repeat;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
  /* line 111, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
  .menus h3:before {
    background: url(../images/NavSprite@2X.png) no-repeat;
    background-size: 49px 18px;
  }
}

/* line 126, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.menus h3.work {
  color: #F24739;
}

/* line 128, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.menus h3.work:before {
  width: 15px;
  background-position: 0px 0px;
}

/* line 133, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.menus h3.about {
  color: #F24739;
}

/* line 135, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.menus h3.about:before {
  width: 17px;
  background-position: -15px 0px;
}

/* line 140, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.menus h3.contact {
  color: #F24739;
}

/* line 142, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.menus h3.contact:before {
  width: 17px;
  background-position: -32px 0px;
}

/* line 152, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.social {
  width: 120px;
  margin: 0 auto;
}

/* line 156, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.social a {
  float: left;
  width: 25px;
  height: 25px;
  margin: 0 2px;
  background: url(../images/SocialSprite.png) no-repeat;
  text-indent: -9999px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
  /* line 156, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
  .social a {
    background: url(../images/social-sprite@2x.png) no-repeat;
    background-size: 101px 51px;
  }
}

/* line 169, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.social a.dribbble {
  background-position: 0px 0px;
}

/* line 172, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.social a.dribbble:hover {
  background-position: 0px -25px;
}

/* line 177, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.social a.twitter {
  background-position: -25px 0px;
}

/* line 180, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.social a.twitter:hover {
  background-position: -25px -25px;
}

/* line 185, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.social a.facebook {
  background-position: -50px 0px;
}

/* line 188, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.social a.facebook:hover {
  background-position: -50px -25px;
}

/* line 193, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.social a.googleplus {
  background-position: -75px 0px;
}

/* line 196, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.social a.googleplus:hover {
  background-position: -75px -25px;
}

/* line 203, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
ul {
  list-style: none;
  padding: 0;
  display: none;
  margin: 0 135px 10px;
  text-align: left;
}

@media screen and (min-width: 760px) {
  /* line 203, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
  ul {
    margin: 0 25px;
    display: block;
    width: auto;
  }
}

/* line 216, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
ul.open {
  display: inline-block;
  margin: 0 auto 10px 60px;
}

@media screen and (min-width: 760px) {
  /* line 216, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
  ul.open {
    margin: 0 0 0 25px;
    display: block;
    width: auto;
  }
}

/* line 228, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
ul li a {
  color: #713552;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

/* line 237, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
ul li a:hover, ul li a.current-menu-item {
  color: #FFF;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

/* line 251, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.content {
  width: 100%;
  min-height: 100%;
  background: #FFF;
}

@media screen and (min-width: 760px) {
  /* line 251, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
  .content {
    float: left;
    width: 80%;
  }
}

/* line 261, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.content .portfolio-item {
  background: #f7f7f7;
  font-size: 90%;
}

/* line 265, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.content .portfolio-item:before {
  content: "";
  position: absolute;
  width: 3px;
  background: #eaeaea;
  top: 0px;
  left: 17px;
  bottom: 0px;
}

/* line 276, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.content .portfolio-item.first:before {
  top: 30px;
}

/* line 281, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.content .portfolio-item .portfolio-info {
  min-height: 100%;
  color: #5e5e5e;
  padding: 20px 20px 20px 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 760px) {
  /* line 281, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
  .content .portfolio-item .portfolio-info {
    float: left;
    width: 30%;
  }
}

/* line 295, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.content .portfolio-item .portfolio-info .date {
  font-size: 120%;
  color: #000;
  margin-bottom: 10px;
}

/* line 300, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.content .portfolio-item .portfolio-info .date:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 4px solid #f7f7f7;
  background: #27365A;
  left: -31px;
  top: 3px;
}

/* line 313, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.content .portfolio-item .portfolio-info .meta {
  color: #5e5e5e;
  margin-top: 10px;
}

/* line 317, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.content .portfolio-item .portfolio-info .meta p {
  margin: 0;
}

/* line 323, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.content .portfolio-item .portfolio-image {
  padding: 20px;
  background: #FFF;
  border-left: 1px solid #dedede;
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 760px) {
  /* line 323, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
  .content .portfolio-item .portfolio-image {
    float: left;
    width: 70%;
  }
}

/* line 335, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.content .portfolio-item .portfolio-image img {
  width: 100%;
  max-width: 610px;
  height: auto;
}

/* line 342, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.content .portfolio-item .portfolio-image div.loading img {
  width: auto;
  height: auto;
}

/* line 350, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.content div.loading {
  color: #c4c4c4;
  position: absolute;
  width: 100px;
  bottom: 15px;
  left: 55%;
  margin-left: -50px;
}

/* line 358, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.content div.loading img {
  vertical-align: middle;
}

/* line 361, /Users/debhendriksmaanderson/Desktop/TimelineWebpage/scss/styles.scss */
.content div.loading img.rotate {
  -webkit-animation-name: rotate;
  -ms-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-interation-count: infinite;
  -webkit-animation-timing-funtion: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
  }
}

/*# sourceMappingURL=../css/styles.map */